<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Todo</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>

  <body>
    <div id="todo">
      <h1>To Dos</h1>
      <ul>
        <li
          v-for="(todo, i) in todos"
          v-on:click="todo.completed = !todo.completed"
          v-if="todo.completed"
          class="completed"
        >
          {{ todo.task }}
        </li>
        <li v-on:click="todo.completed = !todo.completed" v-else>
          {{ todo.task }}
        </li>
      </ul>
      <form>
        <input
          v-on:keyup="inputTodo"
          placeholder="Add Todo"
          v-bind:value="newTodo"
        />
        <button v-on:click="addTodo">Add Task</button>
        <button v-on:click="removeCompleted">Remove Completed</button>
      </form>
    </div>

    <script src="app.js"></script>
  </body>
</html>
